<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zmiana hasła</title>
</head>
<body>
    <h1>Zmiana hasła</h1>
    <form th:action="@{/changePassword}" th:object="${passwordChangeForm}" th:method="post">
        <!--<span th:test="${passwordCheck}">decision</span>-->
        <label >Podaj nowe hasło</label>
        <input th:type="password" th:field="*{password1}">
        <span th:errors="*{password1}">error</span>
        <label >Powtórz nowe hasło</label>
        <input th:type="password" th:field="*{password2}">
        <span th:errors="*{password1}">error</span>
        <input th:type="submit" th:value="zmień hasło">

    </form>

</body>
</html>